.arrow{
    margin:5px;
    float:right;
}

.custom-container{
    width:75vw;
}

.contact-header{
    font-size:25px;
    color:white;
}

.main-div{
    padding:10px;
    font-size:15px;
    border-bottom: 1px solid black;
}
.cName{
    font-size:20px;
    font-style: bold;
}
.child-div{
    transition : 0.8s ease-in-out;
    font-size:20px;
}
.display-none{
    height:0;
    transition:height 0.3s ease;
}
.display-full{
    display: block;
    height:80px;
    transition: height 0.3s ease;
}
.rotate-btn{
    transition: 0.4s ease;
    transform: rotate(180deg);
}



